a:link{
    color: brown;
    text-decoration: none;
}
a:visited{
    color: blueviolet
}
a{
    color: yellow;
}
a:hover{
    background-color: aqua;
    text-decoration: underline;
}
.title:hover{
    color: brown;
    cursor:crosshair;
}